$baseFontSize: 100px !default;
@function pxToRem($px: 16) {
  @return $px / $baseFontSize * 1rem;
}
/*
* @param {number} $borderWidthes    set border width, four numbers express top right bottom left
* @param {number} $borderColor    set border color, but if value equal 0, express set width equal 0
* @param {number} $radius set   border radius
*/
@mixin borderHandle($borderWidthes:1111, $borderColor:0, $radius:0){
  $innerWidth: 1;
  $hasRight:false;
  @if $borderColor == 0 {
    $innerWidth: 0;
  }
  @if ($radius > 0){
    border-radius: $radius;
  }
  &:before {
    @if $borderWidthes%10 == 1 {
      border-left-width: #{$innerWidth}px;
    }
    @if $borderWidthes%100 >= 10{
      border-bottom-width: #{$innerWidth}px;
    }
    @if $borderWidthes%1000 >= 100 {
      border-right-width: #{$innerWidth}px;
      $hasRight: true;
    }
    @if $borderWidthes >= 1000{
      border-Top-width: #{$innerWidth}px;
      $hasRight: true;
    }
    border-color: $borderColor;
    border-style: solid;
    @if ($radius > 0){
      border-radius: $radius;
    }
  }
  @if $radius > 0{
    @media (-webkit-min-device-pixel-ratio: 2){
      &:before {
        border-radius: $radius*2;
      }
    }
    @media (-webkit-min-device-pixel-ratio: 3){
      &:before {
        border-radius: $radius*3;
      }
    }
  }
}
@function borderOuterSize($value) {
  @return pxToRem($value+2px);
}








