@import "function.scss";

html {
  font-size: 100px;
}
body{
  overflow-x: hidden;
}
[class*='fix'],.caption-wrapper,.bottom-box{
  max-width: 1500px;
}
.one-root{
  font-size: 50px;
  body{
    min-width: 320px !important;
    max-width: 750px !important;
  }
  [class*='fix'],.caption-wrapper,.bottom-box{
    max-width: 750px;
  }
}



input{
  box-sizing: content-box;
}
*:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
textarea{
  -webkit-touch-callout: initial !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  user-select: text !important;
}


/* layout */
.wbox {
  width: 100%;
  @include flexbox;
}

.wbox .wbox-col-a {
  @include flex();
}

.wbox .wbox-col-b {
  @include flex(2);
}

.mr20 {
  margin-right: 20px;
}

.h-center {
  margin-left: auto;
  margin-right: auto;
}

.btn-b, .btn-c {
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #FFF;
  background: #FD7D26;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1.16rem;
}

.btn-b {
  background: #fff;
  border: 1px solid #DCDCDC;
  height: 43px;
  line-height: 43px;
}

.btn-cancel {
  background: #E6E6E6;
}
.more-info {
  text-align: center;
  color: #999;
  padding: pxToRem(20px);
  font-size: pxToRem(28px);
}
/* alertBox */
.alert-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 85%;
  background: #FFF;
  border-radius: pxToRem(10px);
  z-index: 110001;
  opacity: 0;
}

.alert-box .msg {
  text-align: center;
  padding: pxToRem(20px) 0;
}

.alert-box-bg {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 110000;
}

.alert-box-valide {
  padding: pxToRem(20px) pxToRem(20px);
  background: rgba(0, 0, 0, 0);
  color: #FFF;
  border-radius: pxToRem(10px);
  width: auto;
  position: fixed;
  opacity: 1;
}

.alert-box-valide .msg {
  padding: 0;
  font-size: pxToRem(24px);
}

.alert-box-anim-init, .alert-box-valide {
  @include transform(scale3d(.7, .7, .7) translateZ(0));
}

.alert-box-anim {
  -webkit-transition: background-color 0.4s, -webkit-transform 0.4s;
  transition: background-color 0.4s, transform 0.4s;
  @include transform(scale3d(1, 1, 1) translateZ(0));
  background-color: rgba(0, 0, 0, .6);
  opacity: 1;
}

.alert-bg-anim {
  @include transition(background-color 0.4s);
  background-color: rgba(0, 0, 0, .55);
}

.alert-box-bg-validate {
  background: rgba(0, 0, 0, 0);
}

.alert-box-anim-out {
  -webkit-transition: background-color 0.4s, -webkit-transform 0.4s;
  transition: background-color 0.4s, transform 0.4s;
  @include transform(scale3d(.7, .7, .7) translateZ(0));
  background-color: rgba(0, 0, 0, 0);
}

.alert-bg-anim-out-init {
  background-color: rgba(0, 0, 0, 0);
}

.alert-bg-anim-out {
  @include transition(background-color 0.3s);
  background-color: rgba(0, 0, 0, 0);
}

.alert-box-bg-wait {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(9, 9, 9, .7);
  width: 100%;
  z-index: 100;
  opacity: 0;
}

.alert-box-anim-wait, div.alert-bg-anim-wait {
  opacity: 1;
}

div.alert-bg-anim-wait {
  background: rgba(0, 0, 0, .2);
}

.alert-context {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

@include keyframes(alertFadeIn) {
  0%, 100% {
    @include prefixer(transition-timing-function, ease-out);
  }
  0% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}
@include keyframes(alertFadeOut) {
  0%, 100% {
    @include prefixer(transition-timing-function, ease-out);
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@include keyframes(spin) {
  0%, 100% {
    @include prefixer(transition-timing-function, ease-out);
  }
  0% {
    @include prefixer(transform, scale3d(.7, .7, .7));
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    @include prefixer(transform, scale3d(1, 1, 1));
    background-color: rgba(0, 0, 0, .6);
  }
}

@include keyframes(spin-out) {
  0%, 100% {
    @include prefixer(transition-timing-function, ease-out);
  }
  0% {
    @include prefixer(transform, scale3d(1, 1, 1));
    opacity: 1;
  }
  80% {
    @include prefixer(transform, scale3d(.7, .7, .7));
    opacity: 0;
  }
  100% {
    @include prefixer(transform, scale3d(.7, .7, .7));
    opacity: 0;
  }
}

.alert-box-anim2, .alert-bg-anim2 {
  @include animation(spin2 0.4s both);
}

.alert-box-anim-out2, .alert-bg-anim-out2 {
  @include animation(spin-out2 0.4s both);
}

@include keyframes(spin2){
  0%, 100% {
    @include prefixer(transition-timing-function, ease-out);
  }
  0% {
    @include prefixer(transform, scale3d(1.3, 1.3, 1.3));
    opacity: 0;
  }
  100% {
    @include prefixer(transform, scale3d(1, 1, 1));
    opacity: 1;
  }
}

@include keyframes(spin-out2){
  0%, 100% {
    @include prefixer(transition-timing-function, ease-out);
  }
  0% {
    @include prefixer(transform, scale3d(1, 1, 1));
    opacity: 1;
  }
  100% {
    @include prefixer(transform, scale3d(1.3, 1.3, 1.3));
    opacity: 0;
  }
}

@include keyframes(alert-back-in){
  0%, 100% {
    @include prefixer(transition-timing-function, ease-out);
    @include prefixer(transform-origin, top);
  }
  0% {
    @include prefixer(transform, scale(1, 1));
  }
  100% {
    @include prefixer(transform, scale(.95, .95) translateY(5px));
  }
}

.alert-back-in {
  @include animation(alert-back-in 0.5s both);
}

@include keyframes(alert-front-in){
  0%, 100% {
    @include prefixer(transition-timing-function, ease-out);
    @include prefixer(transform-origin, top);
  }
  0% {
    @include prefixer(transform, scale(.95, .95) translateY(5px));
  }
  100% {
    @include prefixer(transform, scale(1, 1));
  }
}

.alert-front-in {
  @include animation(alert-front-in 0.5s both);
}

/*slide-box*/
.mod-drag-box .mod-drag-content {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.mod-drag-box .mod-flex-box {
  @include flexbox();
  height: 50px;
  margin: 0px;
}

.mod-drag-box .mod-flex-box input[type=radio], input[type=checkbox] {
  display: none;
}

.mod-drag-box .mod-flex-box label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-right: 10px;
  left: 0;
  bottom: 0;
  color: #999;
  background-color: #999;
  @include box-shadow(inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8));
  border-radius: 8px;
  vertical-align: middle;
}

.mod-drag-box .mod-flex-box input[type=radio]:checked + label:before {
  content: "\2022";
  color: #fff;
  font-size: 39px;
  text-align: center;
  line-height: 19px;
}

.vert {
  @include prefixer(box-pack, center);
  @include prefixer(box-align, center);
}

.mod-drag-box .mod-select {
  position: relative;
}

.mod-drag-select-box .mod-select > div {
  border-bottom: 1px solid #CCC;
}

.mod-drag-box .mod-select > div.active {
  background-color: #E0E0E0;
}

.mod-drag-box .mod-select .option {
  margin: 0;
  font-size: pxToRem(30px);
}

.mod-drag-box .mod-select .option .on {
  background: #3879D9;
}

.mod-drag-box .mod-select option div:nth-child(2) {
  width: 26px;
}

.mod-drag-box .mod-drag-content .slide {
  top: 0px;
  left: 0px;
  position: absolute;
  display: none;
}

.mod-drag-box .mod-drag-content .slide-btn {
  width: 5px;
  height: 50px;
  top: 0px;
  left: 0px;
  border-radius: 2px;
  background: rgba(113, 112, 112, 0.4);
  position: absolute;
}

.slide-alert-box {
  padding: 0;
  padding-bottom: 3px;
  width: 93%;
}

.mod-drag-select-box .title {
  margin: 0;
  background-color: #fff;
  font-size: 18px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #9cce8f;
}

.alert-page-box {
  box-sizing: border-box;
  border-radius: 0px;
  position: absolute;
  opacity: 1;
  background-color: #FFF;
  padding: 0px;
}

.page-slide-ani {
  @include t-transform(400ms, ease-out);
}

/*scrolledAjax*/
.scroll-loading {
  text-align: center;
  height: pxToRem(74px);
  color: #333;
  font: pxToRem(24px)/1.5 arial, tahoma, SimHei;
  line-height: pxToRem(74px);
}

.scroll-loading .loading-flag {
  @include background(url(https://resjrprd.suning.com/finance/public/v1/style/svg/req-loading-333-2px.svg), no-repeat, no-repeat, 0px 0px, pxToRem(30px));
  padding-left: pxToRem(30px);
  display: inline;
  font-size: pxToRem(28px);
}

.scroll-ajax-anim {
  opacity: 0;
  @include transition(opacity 1.5s);
}

.exploading {
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -40px;
  background-color: #333;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.exploading div {
  top: 50%;
  left: 50%;
  position: absolute;
  box-sizing: border-box;
}

.exploading .o-circle {
  border: 1px solid #F1F1F1;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  margin-top: -24px;
  margin-left: -17px;
  @include animation(page-loading 1s linear infinite);
}

.exploading .rect {
  left: -3px;
  top: 17px;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  border-bottom: 36px solid #333;
  -webkit-transform: rotateZ(-120deg);
  transform: rotateZ(-120deg);
  -webkit-transform-origin: top center;
  transform-origin: top center;
}

@-webkit-keyframes page-loading {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}

@keyframes page-loading {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.exploading .loading-txt {
  position: absolute;
  color: #F1F1F1;
  top: 55px;
  left: 22px;
  font-size: 12px;
}

.exploading {
  z-index: 998;
}

/*loadingͼ��*/
.loading {
  width: pxToRem(136px);
  height: pxToRem(40px);
}

.loading img, .loading .req-circle {
  height: pxToRem(40px);
  float: left;
  margin-left: pxToRem(10px);
  width: pxToRem(50px);
  background:url(https://resjrprd.suning.com/finance/public/v1/style/svg/req-loading.svg) no-repeat 1px 1px;
  background-size: pxToRem(38px) !important;
}

.loading span {
  line-height: pxToRem(40px);
}

.alert-page-keyboard {
  max-width: none;
  width: 100%;
  z-index: 999999;
  visibility: visible;
  opacity: 1;
  position: absolute;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: visible;
}

.alert-page-keyboard-bg {
  opacity: 0;
  animation: none;
  -webkit-animation: none;
}

.alert-page-keyboard .key-magnifier {
  position: absolute;
  top: 5px;
  left: 5px;
}

.keyboard-box {
}

.keyboard-box .keyboard-row {
  @include flexbox();
}

.keyboard-box .keyboard-row .keyboard-bar {
  background: #d5d8db;
  height: pxToRem(82px);
  font-size: pxToRem(40px);
}

.keyboard-box .keyboard-bar div {
  color: #228fff;
  text-align: right;
  line-height: pxToRem(82px);
  padding-right: 10px;
  font-family: simhei, arial, tahoma;
}

.keyboard-box .keyboard-char {
  height: pxToRem(100px);
  font-size:pxToRem(50px);
  text-align: center;
  line-height: pxToRem(100px);
  border-right: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  font-family: arial, tahoma;
  flex: 1.0;
  -webkit-flex: 1.0;
  -webkit-box-flex: 1;
}

.keyboard-box .keyboard-char:last-child {
  border-right: none;
}

.keyboard-box .keyboard-operator {
  background: #d5d8db;
}

.keyboard-box .keyboard-row:first-child .keyboard-char:nth-child(1), .keyboard-box .keyboard-row:first-child .keyboard-char:nth-child(2), .keyboard-box .keyboard-row:first-child .keyboard-char:nth-child(3) {
  border-top: 1px solid #E4E4E4;
}

.keyboard-box .keyboard-char .key-clear {
  @include background(url(../images/key-clear.png), no-repeat, 0px, pxToRem(28px), pxToRem(56px));
}

.keyboard-box .keyboard-char .spot {
  width: pxToRem(60px);
  display: block;
  margin: auto;
}

.text-keyboard-box-all {
  background-color: #C5CFD8;
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.13, 0.6, 0.58, 1), opacity 0.4s cubic-bezier(0.13, 0.6, 0.58, 1);
  transition: transform 0.1s cubic-bezier(0.13, 0.6, 0.58, 1), opacity 0.4s cubic-bezier(0.13, 0.6, 0.58, 1);
}

.text-keyboard-box {
  background-color: #C5CFD8;
}

.text-keyboard-box .keyboard-row:nth-child(2) {
  padding-top: 8px;
}

.text-keyboard-box .keyboard-row .keyboard-char:first-child {
  margin-left: 3px;
}

.text-keyboard-box .keyboard-row .keyboard-char:last-child {
  margin-right: 4px;
}

.text-keyboard-box .keyboard-row .keyboard-bar:first-child,
.text-keyboard-box .keyboard-row .keyboard-bar:last-child {
  margin: 0;
}

.text-keyboard-box .keyboard-char {
  height: pxToRem(100px);
  border: none;
  overflow: hidden;
}
.one-root {
  .text-keyboard-box .keyboard-char .spot {
    border-radius: 4px;
    margin: 0px 0px 0px 6px;
  }
  .keyboard-box .keyboard-char .delete,.keyboard-box .keyboard-char .lower, .keyboard-box .keyboard-char .upper{
    background-size: 22px;
  }
}
.text-keyboard-box .keyboard-char .spot {
  border-radius: pxToRem(8px);
  margin: 6px;
  width: auto;
  min-height: pxToRem(90px);
  line-height: pxToRem(90px);
  background: #fff;
  min-width: pxToRem(50px);
  box-shadow: 0px 2px #999C9F;
  @include flexbox();
  @include prefixer(box-pack, center);
}

.text-keyboard-box .keyboard-char .simu-magnifier {
  color: #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}



.text-keyboard-box .keyboard-char .place {
  min-width: 4px;
  background-color: #C5CFD8;
  box-shadow: none;
}
.text-keyboard-box .keyboard-row .keyboard-bar {
  background: #F5F5F6;
}

.keyboard-box .keyboard-char .upper {
  @include background(url("../images/key-upper.png"),no-repeat,50%,50%,32px);
}

.keyboard-box .keyboard-char .lower {
  @include background(url("../images/key-lower.png"),no-repeat,50%,50%,32px);
  background-color: #FFF;
}

.keyboard-box .keyboard-char .delete {
  @include background(url("../images/key-clear-up.png"),no-repeat,50%,50%,50px);
}

.text-keyboard-box .keyboard-char .func {
  background-color: #ADB3BD;
}
.keyboard-rise .chars {
  color: #999;
  position: absolute;
}

.keyboard-tip-icon {
  display: none;
  position: absolute;
  right: 0;
  height: pxToRem(48px);
  padding-left: pxToRem(10px);
  i {
    display: inline-block;
    width: pxToRem(28px);
    height: pxToRem(28px);
    margin-top: pxToRem(14px);
    margin-right: pxToRem(20px);
  }
  .keyboard-cut {
    background: url(../images/cut.png) no-repeat;
    background-size: pxToRem(28px);
  }
}


.tip-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: pxToRem(48px);
  padding-left: pxToRem(10px);
}

.tip-icon i {
  display: inline-block;
  width: pxToRem(28px);
  height: pxToRem(28px);
  margin-top: pxToRem(5px);
  margin-right: pxToRem(10px);
  background-size: pxToRem(28px);
}

.tip-icon .cut {
  background-image: url(../images/cut.png);
  background-repeat: no-repeat;
}

.wrap-input-mod .cursor-frame {
  @include animation(cursorAni 1s infinite linear);
}
@include keyframes(cursorAni){
  0%,50% {opacity: 1;}
  60%,100% {opacity: 0;}
}

.pop-window {
  padding: 0;
  width: 90%;
  .cont {
    border-bottom: 1px solid #ddd;
  }
  .title {
    line-height: pxToRem(48px);
    font-size: pxToRem(32px);
    text-align: center;
    border-top-left-radius: pxToRem(10px);
    border-top-right-radius: pxToRem(10px);
    background: #f4f4f4;
    padding: pxToRem(52px) pxToRem(20px) pxToRem(40px) pxToRem(20px);
    span{
      font-size: 28px;
    }
  }
  .pop-button {
    display: -webkit-box;
    padding: 0;
    margin: 0;
    background: #fff;
    border-bottom-left-radius: pxToRem(10px);
    border-bottom-right-radius: pxToRem(10px);
    a {
      display: block;
      -webkit-box-flex: 1;
      width: 100%;
      height: pxToRem(80px);
      margin: 0 auto;
      line-height: pxToRem(80px);
      text-align: center; /* border-radius: 5px; */
      color: #228fff;
      background: #fff;
      font-size: pxToRem(32px);
      border-radius: 0;
      &:last-child {
        border-bottom-right-radius: pxToRem(10px);
        border-left: 1px solid #ddd;
      }
      &:first-child {
        border-bottom-left-radius: pxToRem(10px);
        border-left: none;
      }
    }

  }
  .pwd-header .title {
    padding: 11px 12px;
    color: #999;
  }

  .pop-select-footer {
    border-top: solid 1px #ccc;
    height: 49px;
  }

  .pop-select-footer a {
    line-height: 54px;
    background-color: initial;
  }

  .password-input{
    display: block;
    height: pxToRem(58px);
    width: 85%;
    margin: 0 auto;
    padding: pxToRem(15px);
    border: 1px solid #dcdcdc;
    font-size: pxToRem(32px);
  }

}
.pop-window-end{
  background: #f4f4f4;
  .cont{
    padding: 48px 0 36px 0;
    text-align: center;
    font-size: pxToRem(28.2px);
  }
  .title{
    padding: 0 0 40px;
    line-height: pxToRem(48px);
  }
}
.alert-box-pwd{
  background: #f4f4f4;
  .cont{
    padding: 48px 0 36px 0;
  }
  .title{
    padding: 0 0 40px;
    line-height: pxToRem(24px);
  }
}

.pop-password-box {
  width: 92%;
  max-width: none;
  .pwd-header {
    height: 49px;
    background: #f8f8f8;
    border-bottom: solid 1px #e8e8e8;
  }

  .pwd-content {
    height: 103px;
    background: #f8f8f8;
    border-bottom: solid 1px #e8e8e8;
    overflow: hidden;
  }
  .pwd-box {
    width: 92%;
    height: 46px;
    border: #999 solid 1px;
    margin: 23px auto;
    background: #fff;
    @include flexbox();
    .pwd-char-box {
      border-right: #E4E4E4 solid 1px;
      @include flex();
      &:last-child {
        border-right: none;
      }
      .spot {
        width: 12px;
        height: 12px;
        margin: auto;
        background-color: #000;
        border-radius: 6px;
        position: relative;
        top: 17px;
      }
      .blank {
        width: 12px;
        height: 12px;
        margin: auto;
        background-color: #fff;
        border-radius: 6px;
        position: relative;
        top: 17px;
      }
    }


  }
  .invalide {
    color: #ddd;
  }
}

.caption-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  padding: pxToRem(.10*200px) pxToRem(.05*200px);
  background-color: #f2f2f2;
  z-index: 100;
  box-sizing: border-box;
  .caption {
    position: relative;
    border: 1px solid #3599ff;
    border-radius: pxToRem(.05*200px);
  }

  .caption ul {
    display: -webkit-box;
    position: relative;
    z-index: 2;
  }

  .caption li {
    height: pxToRem(70px);
    width: 50%;
    line-height: pxToRem(70px);
    font-size: pxToRem(28px);
    color: #3599ff;
    text-align: center;
    -webkit-box-flex: 1;
    a{
      color: #3599ff;
    }
  }

  .caption li {
    border-right: 1px solid #3599ff;
  }

  .caption li:last-child {
    border-right: none;
  }

  .caption li.on {
    color: #fff;
    a{
      color: #fff;
    }
  }

  .caption .bg-on {
    position: absolute;
    top: 0;
    height: pxToRem(70px);
    width: 50%;
    background-color: #3599ff;
    z-index: 1;
  }
}

.content-wrapper {
  margin: pxToRem(.57*200px) 0 pxToRem(.10*200px);
  padding-bottom: pxToRem(.50*200px);

  .content {
    float: left;
    width: 100%;
    min-height: pxToRem(4.90*200px);
    box-sizing: border-box;
  }

  .no-record-box {
    background-color: transparent !important;
    border: none !important;
  }

  .no-record-img {
    display: block;
    width: pxToRem(1.30*200px);
    height: pxToRem(1.30*200px);
    margin: 50% auto;
  }
}

.content-wrapper, .content-box {
  overflow: hidden;
}




